body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #282829;
    color: #fff;
}

h1 {
    color: #6784C9;
    text-align: center;
}

h2 {
    margin-top: 20px;
    color: #B1C4F2;
}

input, button {
    margin: 5px 0;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #B1C4F2;
    color: #000;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #e4e6eb;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

tr:last-child td {
    border-bottom: none;
}

td:last-child {
    border-right: none;
}
